<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
	<title>Log in</title>
</h:head>
<h:body>
	<h:form>
Manager Log In <br />
		<h:outputText value = "User Name" />
		<h:inputText id = "username" value = "#{sessionBean.username}" />
		<br />
		<h:outputText value = "Password" />
		<h:inputSecret id = "password" value = "#{sessionBean.password}" />
		<br />
		<h:commandButton value="Log In" action="#{sessionBean.validateUsernamePassword}" />
	</h:form>
</h:body>
</html>
